{% extends 'base.html.twig' %}

{% block title %}Acheter Pokemon{% endblock %}

{% block body %}
    <h1>Acheter Pokemon</h1>

    {% if market_type %}
        <p>Vous êtes sur le point d'acheter le Pokémon "{{ market_type.pokemon }}" au prix de {{ market_type.salePrice }}.</p>
        <p>Confirmez votre achat en cliquant sur le bouton ci-dessous :</p>
       
        <a href="{{ path('confirm_purchase', {'id': market_type.getId()}) }}">Confirmer l'achat</a>
    {% else %}
        <p>Le Pokémon que vous souhaitez acheter n'est plus disponible.</p>
    {% endif %}
{% endblock %}
